.info {
	color: blue;
}

.heading {
	color: red;
}

.answer {
	color: #009900;
}

.missing {
	color: #ffaa00;
}

.option {
	color: violet;
}

.mainBox {
	border: 1px solid black;
}

.copyrightOne {
	font-style: italic;
	text-transform: capitalize;
}

.copyrightMain {
	font-style: italic;
	text-transform: capitalize;
	transform: rotate(45deg);
	z-index: -1;
	margin-up: -150px;
	opacity: 0.3;
}